@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/inter-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/inter-bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'Geist Mono';
    src: url('../fonts/geist-mono/geist-mono-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
}
